<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>itivosslider</name>
	<displayName><![CDATA[Itivos Slider]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Show a slider with image in the home.]]></description>
	<author><![CDATA[Itivos Teams]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
